@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(to right, #9a031e 0%, #fb8b24 85%, #76c893 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.text span {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, .2);
  line-height: 1;
  transform: translateY(100px);
  --clipPath: inset(100% 0 0 0)
}

.text span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #9a031e, #fb8b24, #76c893);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: var(--clipPath);
  -webkit-clip-path: var(--clipPath)
}

#form-container {
  will-change: transform, opacity;
}
.skill-box {
  will-change: transform, opacity;
}